@import 'styles/main';

.grid {
  @include border;
}

.row {
  @include flex;
}

.cell {
  height: 35px;
  flex: 1;
  @include border;
  @include flexCenter;
}

.header {
  background-color: rgb(168, 168, 168);
  font-weight: 600;
  text-transform: uppercase;
}
