@mixin flex {
  display: flex;
}

@mixin flexAlignCenter {
  @include flex;
  align-items: center;
}

@mixin flexCenter {
  @include flexAlignCenter;
  justify-content: center;
}

@mixin flexBetween {
  @include flexAlignCenter;
  justify-content: space-between;
}

@mixin border {
  border: 1px solid black;
}
